[Unit]
Description=rns_announce_directory
After=multi-user.target
[Service]
ExecStartPre=/bin/sleep 5
Type=simple
Restart=always
RestartSec=3
User=root
ExecStart=/root/RNS-Tools/rns_announce_directory/rns_announce_directory.py
[Install]
WantedBy=multi-user.target
