[Unit]
Description=rns_server_provisioning
After=multi-user.target
[Service]
ExecStartPre=/bin/sleep 10
Type=simple
Restart=always
RestartSec=3
User=root
ExecStart=/root/RNS-Tools/rns_server_provisioning/main.py
[Install]
WantedBy=multi-user.target
